body 
{
    color: white;
    background-image: url(background.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}

@media (min-width:300px)

{

table
{
    z-index: -1;
}

.about
{
    border-radius: 10px;
    border: solid 3px;
    border-collapse:collapse;
    background-color: #0000009d;
    position: relative;
    top: 150px;
}

.description
{
    z-index: -1;
}

.tehdeh
{
   vertical-align: top;
   padding-left: 35px;
   padding: 10px;
   position: relative;
}

.image
{
    width:30%;
    padding: 10px;
    vertical-align: top;
    position: relative;
}

p
{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
}

td
{
    
    width: 100%;
}

.navbar
{
   display: none;
}

.hamburger
{
    display: flex;
}

button
{
    height: 50px;
    border: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(17, 17, 17);
    color: white;
    font-family: 'Bitter', serif;
    font-size: 10pt;
    z-index: 1;
}

button:hover
{
    background: #202020;
    font-size: 11pt;
    border: 3px #2a2929 solid;
    z-index: 1;
}

.CRP_mobile
{
    top:0;
}

.links_mobile
{
    top: 50px;
}

.contact_mobile
{
    top:100px;
}

.GOONS
{
    color: red;
}

.GOONS:hover
{
    font-size: 18pt;
    font-weight: bold;
}

.OLR
{
    color: #00ff1e;
}

.OLR:hover
{
    font-size: 18pt;
    font-weight:bold;
}

.Juice
{
    color: #a200ff;
}

.Juice:hover
{
    font-size: 18pt;
    font-weight:bold;
}

}

@media (min-width:700px)

{

table
{
    z-index: -1;
}

.about
{
    border-color: white;
    border-radius: 10px;
    border: solid 3px;
    border-collapse: collapse;
    background-color: #0000009d;
    position: relative;
    top: 95px;
}

.description
{
    z-index: -1;
}

.tehdeh
{
   vertical-align: top;
   padding-left: 35px;
   padding: 10px;
   position: relative;
}

.image
{
    width:20%;
    padding: 10px;
    vertical-align: top;
    position: relative;
}

p
{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
}

.hamburger
{
    display: none;
}

.navbar
{
    display:flex;
}

.CRP
{
    left:0;
}

.links
{
    left:33.4%
}

.contact
{
    left:66.8%
}

button
{
    background: rgb(17, 17, 17);
    width: 33.3%;
    color: white;
    height: 97px;
    width:33.4333333%;
    border: 0px;
    top:0;
    font-family: 'Bitter', serif;
    font-size: 13pt;
    position: fixed;
    z-index: 1;
}

button:hover
{
    background: #202020;
    font-size: 14pt;
    border: 3px #383737 solid;
    z-index: 1;
}

.GOONS
{
    color: red;
}

.GOONS:hover
{
    font-size: 18pt;
    font-weight: bold;
}

.OLR
{
    color: #00ff1e;
}

.OLR:hover
{
    font-size: 18pt;
    font-weight:bold;
}

.Juice
{
    color: #a200ff;
}

.Juice:hover
{
    font-size: 18pt;
    font-weight:bold;
}

}
